#local .terraform directory
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tf lock 
*.terraform
*.terraform.*

# Crash log files
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json  

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Suggsted according to the svn:ignore property
*.pyc

.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# local hisstiry for vscode
.history/

# Build Folders
**/Build/*

# To ignore common modules inside functions/*/
src/*
!src/layers
!src/functions
src/functions/*
!src/functions/*
src/functions/*/*
!src/functions/*/lambda_function.py
!src/functions/*/__init__.py
!src/layers/*/requirements.txt


*.DS_Store

/venv
/.venv 